files:
  "/etc/cron.d/scheduler":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * . /opt/elasticbeanstalk/support/envvars && /usr/bin/php /var/www/html/artisan schedule:run 1>> /dev/null 2>&1

container_commands:
  001-uncomment-cron:
    leader_only: true
    command: "sed -i -e 's/#//' /etc/cron.d/scheduler"